<div class="columns" style="flex-wrap: wrap">
    <% study_items.each do |study_item|  %>
        <div class="block">
            <div class="column card notification is-primary is-centered" onclick="location.href='<%= study_item_path(study_item.id) %>'">
                <%= button_to 'X', study_item_path(study_item.id), class: "is-right button delete is-danger", method: :delete %>
                <p class="subtitle"><%= study_item.full_title %></p>
            </div>
        </div>
    <% end %>
<br/>
</div>