<h1>To Study List</h1>

<ul>
    <% @study_items.each do |study_item|  %>
        <li><%= link_to study_item.full_title, study_item_path(study_item.id) %></li>
    <% end %>
</ul>

<%= link_to 'Add a new item', new_study_item_path %>

