<h1 class="title is-centered notification is-primary">To Study List</h1>


<% @study_items_statuses.each do |study_item_status| %>
    <h1 class="title is-centered notification <%= @colors[study_item_status.last] %>"><%= study_item_status.first.humanize %></h1>
    <%= render partial: "study_items", locals: { study_items: @study_items.where("status = ?", study_item_status.last) } %>
<% end %>


<%= link_to 'Add a new item', new_study_item_path, class: "button is-primary" %>